*.a
*.o
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.exe
*.ilk
*.opensdf
*.sdf
*.suo
*.trs
*~
.deps
.dirstamp
/src/generated
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build
/bin
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/missing
/test-driver
/stamp-h1
