[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/stellar/libsodium.git
[submodule "lib/xdrpp"]
	path = lib/xdrpp
	url = https://github.com/xdrpp/xdrpp.git
[submodule "lib/libmedida"]
	path = lib/libmedida
	url = https://github.com/stellar/medida.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/stellar/tracy
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "src/protocol-next/xdr"]
	path = src/protocol-next/xdr
	url = https://github.com/stellar/stellar-xdr
	branch = next
[submodule "src/protocol-curr/xdr"]
	path = src/protocol-curr/xdr
	url = https://github.com/stellar/stellar-xdr
	branch = curr
[submodule "src/rust/soroban/p21"]
	path = src/rust/soroban/p21
	url = https://github.com/stellar/rs-soroban-env
[submodule "src/rust/soroban/p22"]
	path = src/rust/soroban/p22
	url = https://github.com/stellar/rs-soroban-env
[submodule "src/rust/soroban/p23"]
	path = src/rust/soroban/p23
	url = https://github.com/stellar/rs-soroban-env.git
