*.a
*.o
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.exe
*.ilk
*.opensdf
*.sdf
*.suo
*~
.deps
.dirstamp
/src/util/StellardVersion.h
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/missing
/stamp-h1
