*.a
*.o
*.o.tmp
*.obj
*.la
*.lo
*.log
*.lib
*.user
*.xdr
*.cache
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.exe
*.ilk
*.opensdf
*.sdf
*.suo
*.trs
*.db

# build stamps
*.stamp

# sourcetrail
compile_commands.json
*.srctrlbm
*.srctrldb
*.srctrlprj

# text editors
*~
*.swp
**/.vscode/*
.idea
.clangd

.libs
.deps
.dirstamp

/INSTALL

/src/archtmp-*
/src/main/StellarCoreVersion.cpp
/src/main/XDRFilesSha256.cpp
/src/rust/soroban/tmp
/src/rust/src/dep-trees/*-actual.txt

/src/testdata/*
# Make an exception for ledger-close-meta files, which should be created and committed on every protocol bump.
!/src/testdata/ledger-close-meta-*

/src/protocol-curr/xdr/*.h
/src/protocol-next/xdr/*.h
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build
/src/stellar-core
/buckets
/compile
/config.h
/config.h.in
/config.log
/config.status
/config.guess
/config.sub
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/configure
/ar-lib
/depcomp
/missing
/test-driver
/stamp-h1
/ylwrap
/src/Makefile
/src/Makefile.in
/lib/Makefile
/lib/Makefile.in
/src/src.mk
/lib/medida.mk
/lib/lib.mk
/scripts/*.graphml
/scripts/*.json

# test output
stellar-core-test-*
test-partitions.*
fuzz-findings/
min-testcases/
/my-history/

# Rust specific
/src/rust/bin
/src/rust/target
/target
**/target/
/ra-target
/src/rust/RustBridge.cpp
/src/rust/RustBridge.h
/src/rust/.crates.toml
/src/rust/.crates2.json

# Windows specific
**/Build/*
**/generated/*
**/x64/*
*.opendb
*.vcxproj.user
**/.vs/*

/src/util/xdrquery/XDRQueryScanner.cpp
/src/util/xdrquery/XDRQueryParser.h
/src/util/xdrquery/XDRQueryParser.cpp
/src/util/xdrquery/stack.hh

__pycache__
