# This is the Stellar Core configuration example for using the load generation 
# (apply-load) tool for benchmarking network limits.
# This is not meant to be used in any production contexts.

# The core with this configuration should be run using `./stellar-core apply-load`

# Select the apply-load mode.
APPLY_LOAD_MODE="ledger-limits"
LOG_FILE_PATH="{log_file_path}"

# Medida metrics (histograms in particular) in apply path cause severe and
# non-deterministic performance degradation. While this has to be addressed
# eventually, it is useful to disable these when optimizing anything besides
# the metrics.
DISABLE_SOROBAN_METRICS_FOR_TESTING = false
# Disable metadata output
METADATA_OUTPUT_STREAM = ""
# Disable metadata debug
METADATA_DEBUG_LEDGERS = 0

# Network configuration to use during the benchmark
# The fields here correspond to the network configuration settings.
APPLY_LOAD_LEDGER_MAX_INSTRUCTIONS = {ledger_max_instructions}
APPLY_LOAD_TX_MAX_INSTRUCTIONS = {tx_max_instructions}

APPLY_LOAD_LEDGER_MAX_DEPENDENT_TX_CLUSTERS = {dependent_tx_clusters}

APPLY_LOAD_TX_MAX_FOOTPRINT_SIZE = {tx_max_footprint_size}

APPLY_LOAD_LEDGER_MAX_DISK_READ_LEDGER_ENTRIES = {ledger_max_disk_read_ledger_entries}
APPLY_LOAD_TX_MAX_DISK_READ_LEDGER_ENTRIES = {tx_max_disk_read_ledger_entries}

APPLY_LOAD_LEDGER_MAX_DISK_READ_BYTES = {ledger_max_disk_read_bytes}
APPLY_LOAD_TX_MAX_DISK_READ_BYTES = {tx_max_disk_read_bytes}

APPLY_LOAD_LEDGER_MAX_WRITE_LEDGER_ENTRIES = {ledger_max_write_ledger_entries}
APPLY_LOAD_TX_MAX_WRITE_LEDGER_ENTRIES = {tx_max_write_ledger_entries}

APPLY_LOAD_LEDGER_MAX_WRITE_BYTES = {ledger_max_write_bytes}
APPLY_LOAD_TX_MAX_WRITE_BYTES = {tx_max_write_bytes}

APPLY_LOAD_MAX_LEDGER_TX_SIZE_BYTES = {max_ledger_tx_size_bytes}
APPLY_LOAD_MAX_TX_SIZE_BYTES = {max_tx_size_bytes}

APPLY_LOAD_MAX_CONTRACT_EVENT_SIZE_BYTES = {max_contract_event_size_bytes}
# Defines how many transactions to apply every ledger. This can be tweaked to
# create different benchmark transaction profiles.
APPLY_LOAD_MAX_SOROBAN_TX_COUNT = {tx_count}

# The following section contains various parameters for the generated load.

# Number of ledgers to close for the benchmark.
APPLY_LOAD_NUM_LEDGERS = {num_ledgers}

# Generate that many simple Classic payment transactions in every benchmark ledger
APPLY_LOAD_CLASSIC_TXS_PER_LEDGER = 0

# Bucket list pre-generation

# The benchmark will pre-generate ledger entries using the simplified ledger
# close process; the generated ledgers won't be reflected in the meta or
# history checkpoints.

# Faster settings, more shallow BL (up to level 6)
# Number of ledgers to close
APPLY_LOAD_BL_SIMULATED_LEDGERS = 10000
# Write a batch of entries every that many ledgers
APPLY_LOAD_BL_WRITE_FREQUENCY = 1000
# Write that many entries in every batch
APPLY_LOAD_BL_BATCH_SIZE = 1000
# Write entry batches in every ledger of this many last ledgers
APPLY_LOAD_BL_LAST_BATCH_SIZE = 100
# Write that many entries in every 'last' ledger
APPLY_LOAD_BL_LAST_BATCH_LEDGERS = 300

# Slower settings, deeper BL (up to level 9)
#APPLY_LOAD_BL_SIMULATED_LEDGERS = 300000
#APPLY_LOAD_BL_WRITE_FREQUENCY = 10000
#APPLY_LOAD_BL_BATCH_SIZE = 10000
#APPLY_LOAD_BL_LAST_BATCH_LEDGERS = 300
#APPLY_LOAD_BL_LAST_BATCH_SIZE = 100

# Number of events a transaction emits and the respective distribution weights.
APPLY_LOAD_EVENT_COUNT = [{num_events}]
APPLY_LOAD_EVENT_COUNT_DISTRIBUTION = [1]

# Common apply load boilerplate
ARTIFICIALLY_GENERATE_LOAD_FOR_TESTING=true
# Diagnostic events should generally be disabled, but can be enabled for debug
ENABLE_SOROBAN_DIAGNOSTIC_EVENTS = false
# Set up plenty of genesis accounts - benchmark will fail if the number is
# not sufficient. This should be at least 2x of the expected TPL, but it's cheap
# enough to be set higher than that.
GENESIS_TEST_ACCOUNT_COUNT = 100000

# Minimal core config boilerplate

UNSAFE_QUORUM=true
NODE_SEED="SDQVDISRYN2JXBS7ICL7QJAEKB3HWBJFP2QECXG7GZICAHBK4UNJCWK2 self"

[QUORUM_SET]
THRESHOLD_PERCENT=100
VALIDATORS=["$self"]
