# This is the Stellar Core configuration example for using the load generation 
# (apply-load) tool for testing the theoretical max SAC (Stellar asset contract)
# transfer TPS via binary search (measured based on apply time only).

# The core with this configuration should run using `./stellar-core apply-load`

# Select the apply-load mode.
APPLY_LOAD_MODE="max-sac-tps"
LOG_FILE_PATH="{log_file_path}"

# Whether to time the write part of the apply stage. This can be
# disabled to get less noisy results for non-write related changes,
# but should be enabled to get more comprehensive e2e numbers.
APPLY_LOAD_TIME_WRITES = true
# Medida metrics (histograms in particular) in apply path cause severe and
# non-deterministic performance degradation. While this has to be addressed
# eventually, it is useful to disable these when optimizing anything besides
# the metrics.
DISABLE_SOROBAN_METRICS_FOR_TESTING = true
# Disable metadata output
METADATA_OUTPUT_STREAM = ""
# Disable metadata debug
METADATA_DEBUG_LEDGERS = 0

# Lower bound of the TPS in binary search
APPLY_LOAD_MAX_SAC_TPS_MIN_TPS = {min_tps}
# Upper bound of the TPS in binary search
APPLY_LOAD_MAX_SAC_TPS_MAX_TPS = {max_tps}

# Number of seconds to apply the ledger for
APPLY_LOAD_TARGET_CLOSE_TIME_MS = {target_close_time_ms}

# The only relevant network configuration parameter - number of transaction
# clusters that are then mapped to the transaction execution threads.
APPLY_LOAD_LEDGER_MAX_DEPENDENT_TX_CLUSTERS = {dependent_tx_clusters}

# Number of payments to batch in a single transaction, similarly to how
# operations are batched for 'classic' transactions.
# This is useful to reduce the impact of non-env parts of the apply path, e.g.
# when evaluating the impact of changes to env itself.
APPLY_LOAD_BATCH_SAC_COUNT = 1

# Maximum number of ledgers to close for every iteration of search.
# Should be at least 30 and normally doesn't need to be changed as search will
# not run extra iterations if the results are already statistically significant.
APPLY_LOAD_NUM_LEDGERS = 200

# Disable bucket list pre-generation as it's not necessary for this mode.
APPLY_LOAD_BL_SIMULATED_LEDGERS = 0
APPLY_LOAD_BL_WRITE_FREQUENCY = 0
APPLY_LOAD_BL_BATCH_SIZE = 0
APPLY_LOAD_BL_LAST_BATCH_SIZE = 0
APPLY_LOAD_BL_LAST_BATCH_LEDGERS = 0

# Common apply load boilerplate
ARTIFICIALLY_GENERATE_LOAD_FOR_TESTING=true
# Diagnostic events should generally be disabled, but can be enabled for debug
ENABLE_SOROBAN_DIAGNOSTIC_EVENTS = false
# Set up a plenty of genesis accounts - benchmark will fail if the number is 
# not sufficient. This should be at least 2x of the maximum TPL, but can be set
# higher than that.
GENESIS_TEST_ACCOUNT_COUNT = 100000

# Minimal core config boilerplate

UNSAFE_QUORUM=true
NODE_SEED="SDQVDISRYN2JXBS7ICL7QJAEKB3HWBJFP2QECXG7GZICAHBK4UNJCWK2 self"

[QUORUM_SET]
THRESHOLD_PERCENT=100
VALIDATORS=["$self"]
