HTTP_PORT=39132
PUBLIC_HTTP_PORT=false

KNOWN_PEERS=[
"core-testnet1.stellar.org",
"core-testnet2.stellar.org", 
"core-testnet3.stellar.org"]

DATABASE="sqlite3://stellar.db"

#The public keys of the Stellar testnet servers
[QUORUM_SET]
THRESHOLD=2
VALIDATORS=[
"gTDZhQ14WuP8rQ9SrkS1EhWNhZyybv97cHNsGRADKQtBoJpTTk", 
"gsjjWTsQP5C2HpcetiLz4LDa9VECGvZMTyhPUDWi57ZKafV5sA4",
"gSCB2HML88CvMwt2iryJGdS61gDr2nhMeYFVWF2B4m6w5js73T"]


#The history store of the Stellar testnet
[HISTORY.h1]
get="curl -sf https://s3-eu-west-1.amazonaws.com/history.stellar.org/prd/core-testnet/core-testnet-001/{0} -o {1}"

[HISTORY.h2]
get="curl -sf https://s3-eu-west-1.amazonaws.com/history.stellar.org/prd/core-testnet/core-testnet-002/{0} -o {1}"

[HISTORY.h3]
get="curl -sf https://s3-eu-west-1.amazonaws.com/history.stellar.org/prd/core-testnet/core-testnet-003/{0} -o {1}"

